$theme-color-background-color: #505050;
$theme-color-border-color: #e0e0e0;
$theme-color-border-color-disabled: #737373;
$theme-color-font-color-base: #eaeaea;
$theme-color-font-color-hover: #e3e3e3;
$theme-color-font-color-disabled: #737373;
$theme-color-font-color-smaller: #cccccc;
$theme-color-input-border-color: #b5b5b5;
$theme-color-input-background-color: #444444;
$theme-color-font-color-error: #DC4405;
